.container {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.55);

}

.img {
    max-width: 80%;
    max-height: 80%;
}
