.header {
    width: 600px;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}

.header .title {
    font-size: 32px;
}

@media (max-width: 500px) {
    .header {
        width: 200px;
    }

}
