.footer{
    padding: 20px 20px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.footer .title{
    color: rgba(0, 0, 0, 0.3);
}
@media (max-width: 600px) {
    .footer{
        font-size: 12px;
        padding: 0;
    }

}
